In [ ]:
import pandas as pd

In [274]:
callrate = pd.read_csv("callRate.csv") #엑셀파일 불러오기
callrate['date'] = pd.to_datetime(callrate['date'], format ='%Y.%m.%d') #날짜열 형식 바꾸기
new_df = pd.DataFrame({'date' : pd.date_range('20041130','20180103'), #날짜공백없는 새 데이터프레임 만들기
                       'label' : None})
merged_df = pd.merge(new_df, callrate, how='left', on='date') #두 데이터프레임 병합
merged_df = merged_df.fillna(method='ffill') #콜금리 결측치는 직전일 데이터 복사
merged_df.index = merged_df['date'] #loc편의성을 위해 날짜열로 인덱스 생성

for i in range(31, len(merged_df)):
    today_rate = merged_df.iloc[i,2]
    past_date = (merged_df.iloc[i,0] - pd.Timedelta(1,'M')).strftime('%Y-%m-%d')
    past_rate = merged_df.loc[past_date]['close']

    if today_rate > past_rate:
        merged_df.iloc[i,1] = 'pos'
    elif today_rate == past_rate:
        merged_df.iloc[i,1] = 0
    elif today_rate < past_rate:
        merged_df.iloc[i,1] = 'neg'
        
result_df = merged_df2[32:-3] #20050101부터 20171231까지의 부분만 슬라이싱
result_df.index = list(range(len(result_df))) #인덱스 초기화
result_df

           date label  close
0    2005-01-01   pos   3.29
1    2005-01-02   pos   3.29
2    2005-01-03   pos   3.27
3    2005-01-04   pos   3.27
4    2005-01-05   pos   3.28
5    2005-01-06   neg   3.21
6    2005-01-07   pos   3.22
7    2005-01-08   neg   3.22
8    2005-01-09   neg   3.22
9    2005-01-10   neg   3.27
10   2005-01-11     0   3.28
11   2005-01-12   neg   3.27
12   2005-01-13     0   3.28
13   2005-01-14   neg   3.26
14   2005-01-15   neg   3.26
15   2005-01-16   neg   3.26
16   2005-01-17   neg   3.25
17   2005-01-18   neg   3.25
18   2005-01-19   neg   3.25
19   2005-01-20   neg   3.23
20   2005-01-21   neg   3.19
21   2005-01-22     0   3.19
22   2005-01-23   neg   3.19
23   2005-01-24   neg   3.25
24   2005-01-25   neg   3.25
25   2005-01-26   neg   3.26
26   2005-01-27   neg   3.24
27   2005-01-28   neg   3.25
28   2005-01-29   neg   3.25
29   2005-01-30   neg   3.25
...         ...   ...    ...
4718 2017-12-02   pos   1.48
4719 2017-12-03   pos   1.48
4720 2017-12-04   pos   1.48
4721 2017-12-05   pos   1.47
4722 2017-12-06   pos   1.48
4723 2017-12-07   pos   1.49
4724 2017-12-08   pos   1.52
4725 2017-12-09   pos   1.52
4726 2017-12-10   pos   1.52
4727 2017-12-11   pos   1.52
4728 2017-12-12   pos   1.51
4729 2017-12-13   pos   1.50
4730 2017-12-14   pos   1.50
4731 2017-12-15   pos   1.51
4732 2017-12-16   pos   1.51
4733 2017-12-17   pos   1.51
4734 2017-12-18   pos   1.50
4735 2017-12-19   pos   1.50
4736 2017-12-20   pos   1.51
4737 2017-12-21   pos   1.53
4738 2017-12-22   pos   1.51
4739 2017-12-23   pos   1.51
4740 2017-12-24   pos   1.51
4741 2017-12-25   pos   1.51
4742 2017-12-26   pos   1.52
4743 2017-12-27   pos   1.51
4744 2017-12-28   pos   1.55
4745 2017-12-29   pos   1.58
4746 2017-12-30   pos   1.58
4747 2017-12-31   pos   1.58

[4748 rows x 3 columns]

In [275]:
result_df.to_csv('labeling_with_callrate.csv')