In [176]:
news_tokens = pd.read_csv('news__tokens.csv')

In [178]:
news_tokens['date'] = pd.to_datetime(news_tokens['date'].astype('str'))

        date                                             tokens
0 2005-01-16  ['자국/NNG', '화폐/NNG', '위안/NNG', '元/NNG', '투기/NN...
1 2005-01-16  ['가까이/MAG', '박스권/NNG', '갇혀/VV', '옆/NNG', '걸음/N...
2 2005-01-16  ['들/VV', '금리/NNG', '가수급/NNG', '부담/NNG', '크/VA'...
3 2005-01-16  ['주식시장/NNG', '강세/NNG', '채권/NNG', '가격/NNG', '하락...
4 2005-01-16  ['은행/NNG', '출범/NNG', '개인/NNG', '신용/NNG', '대출상품...

In [179]:
news_tokens = news_tokens.sort_values(by='date',axis=0)
news_tokens.index = range(len(news_tokens))
num = news_tokens[news_tokens['date']=='2018-01-01'].index[0]
news_tokens = news_tokens[:num]

             date                                             tokens
212535 2017-12-31  ['은행/NNG', '곳/NNG', '금리/NNG', '최대/NNG', '오르/VV...
212536 2017-12-31  ['삼정/NNG', '안보리/NNG', '제재/NNG', '반대/NNG', '블랙리...
212537 2017-12-31  ['신년사/NNG', '미/NNG', 'fed/NNG', '금리/NNG', '인상/...
212538 2017-12-31  ['제공/NNG', '가상화폐/NNG', '거래/NNG', '금융안정/NNG', '...
212539 2017-12-31  ['판매/NNG', '정기/NNG', '예금/NNG', '중/NNG', '금리/NN...

In [ ]:
label_with_callrate = pd.read_csv('labeling_with_callrate.csv', index_col = 0)
label_with_callrate['date'] = pd.to_datetime(label_with_callrate['date'])
del label_with_callrate['close']

In [205]:
news_tokens = pd.DataFrame({'date':news_tokens['date'],
                            'tokens':news_tokens['tokens'],
                           'ngrams':None})
news_tokens = news_tokens.merge(label_with_callrate, on='date', how='outer')

In [214]:
news_tokens = news_tokens.fillna('[]')

In [217]:
news_tokens.to_csv('news_tokens_withNone.csv')